@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th {
  @apply px-2 py-2 text-left font-semibold;
}

td {
  @apply px-2;
}

/* Classes for __ListPage files */
.page-wrapper {
  @apply flex flex-col flex-shrink-0 h-screen w-full bg-gray-100;
}

.custom-breadcrumbs {
  @apply px-8 pt-4 text-sm font-medium breadcrumbs text-slate-500 bg-white h-16 border-b;
}

.page-content {
  @apply flex flex-col mx-8;
}

.page-filter-wrapper {
  @apply flex flex-col w-full py-4 mb-4 rounded shadow bg-white;
}

.filter-edit-panel {
  @apply mx-8 pb-4 mb-4 border-b border-gray-300;
}


/* Classes for FliterEditPanel files */
.filter-group-wrapper {
  @apply flex flex-col md:flex-row flex-wrap justify-between;
}

.filter-field-group {
  @apply flex flex-col mb-4 md:mb-0;
}

.filter-label {
  @apply h-6 text-sm font-medium text-slate-800;
}

.filter-input {
  @apply h-8 w-56 pl-2 bg-gray-200 rounded text-sm text-slate-600 font-medium placeholder-slate-400 focus:outline-0 focus:text-slate-900;
}

.apply-filters-button {
  @apply h-8 w-32 px-2 rounded text-white text-sm font-medium bg-sky-500 transition duration-100 hover:bg-sky-700;
}

.clear-filters-button {
  @apply h-8 w-32 px-2 rounded text-white text-sm font-medium bg-red-500 transition duration-100 hover:bg-red-700;
}